body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: beige;
    font-family: Arial, sans-serif;
}
.calculator{
    border-radius: 10px;
    overflow:hidden;
    background-color: rgb(158, 12, 148);
    border: 2px solid rgb(7, 51, 8);
}
.display{
    background-color: rgb(7, 51, 8);
    padding:3px;
    text-align: right;
}
.display input{
    width:100%;
    border: none;
    color: blueviolet;
    text-align: right;
    padding: 10px;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:1px;
    background-color: rgb(3, 33, 23);
}
.btn{
    padding:20px;
    font-size: medium;
    border: none;
    background-color: bisque;
    cursor: pointer;
    text-align: center;
}
.btn:hover{
    background-color: chartreuse;
}
.clear{
    background-color: rgb(17, 198, 230);
    color: rgb(106, 18, 169);
}
.clear:hover{
    background-color: rgb(30, 223, 56);
}